*{
    /* font-family: "Jersey 10", serif; */
    /* font-family: "Pixelify Sans", serif; */
    font-family: "DotGothic16", serif;
    letter-spacing: -5px;
    font-size: 20px;
}
.my-container{
    background-size: contain;
}
.my-header{
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.my-center-col>img{
    object-fit: contain;
}
/* .my-center-col{
    background-image: url('../Sprites/sparkle5.png');
    background-color: rgb(0, 0, 0);
    background-image: url('../Sprites/sparkle5.png');
    background-size: contain;
    background-repeat: no-repeat;
} */
.justify-text{
    text-align: justify;
}
.text-bottom{
    /* top: 50vw; */
}
/* .my-btn{
    width: 25%;
    background-color: rgb(37, 124, 255);
    border: 1px solid rgb(0, 0, 0);
    transition-duration: 0.3s;
}
.my-btn:hover{
    width: 27%;
    border: 2px solid rgb(37, 124, 255);
    box-shadow: 0 0 10px rgb(37, 124, 255);
    background-color: rgb(0, 0, 0);
}
.my-btn-header{
    background-color: rgb(37, 124, 255);
    border: 1px solid rgb(0, 0, 0);
    transition-duration: 0.3s;
}
.my-btn-header:hover{
    box-shadow: 0 0 1px 2px rgb(37, 124, 255);
    background-color: rgb(0, 0, 0);
} */


.my-second-slide-info-contents{
    width: 100%;
    align-items: center;
}
.my-info-square{
    overflow: hidden;
    @media (max-width: 766px) {
        font-size: 2.5vw;
    }
    @media (max-width: 574px) {
        font-size: 3vw;
    }
    @media (max-width: 395px) {
        font-size: 3.5vw;
    }
}
.image-section{
    background-image: url('../moon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
img{
    object-fit: cover;
}