:root{
    --my-black: rgb(5, 5, 9);
    --my-blue: #2020d9;
    --my-white: #d6d6e3;
    --my-blue-highlited: #3a3aff;
}
*{
    font-family: "Mulish", sans-serif;
    font-size: 20px;
}
body{
    background-color: var(--my-black);
}
img{
    object-fit: cover;
}
.justify-text{
    text-align: justify;
}
.nav-item>a{
    color: var(--my-white);
}
.nav-item>a:hover{
    color: var(--my-blue-highlited);
}
.my-header{
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.my-center-col>img{
    object-fit: contain;
}
.text-bottom{
    left: -5px;
    top: 60vh;
    @media (max-width: 992px) {
        top: 50vh;
    }
}
.my-second-slide-info-contents{
    width: 100%;
    align-items: center;
}
.my-info-square{
    border-radius: 5px;
    transition-duration: 0.4s;
    overflow: hidden;
    color: rgba(0, 0, 0, 0);
    background-image: url('../Sprites/sparkle.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.font-changing{
    @media (max-width: 766px) {
        font-size: 2.5vw;
    }
    @media (max-width: 574px) {
        font-size: 3vw;
    }
    @media (max-width: 395px) {
        font-size: 3.5vw;
    }
}
.my-info-square:hover, .clicked-info{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255, 255);
    border-radius: 10px;
    background-image: none;
    background-color: #0b0b22;
}
.image-section{
    background-image: url('../Images/hands.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.text-first-slide{
    color: var(--my-white);
    font-size: 6vw;
    letter-spacing: 10px;
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 20px;
    @media (max-width: 574px) {
        font-size: 10vw;
    }
}
.go-up-btn{
    top: 85vh; left: 5vw;
}
.go-up-a{
    font-size: 30px;
    padding: 5px 23px 10px 24px;
    border-radius: 100%;
}
.custom-top-review{
    top: 100px;
}
.review{
    border: 1px solid var(--my-blue);
    border-radius: 10px;
    transition-duration: 0.5s;
    overflow: hidden;
    width: 40vh; height: 35vh;
    @media (max-width: 1200px) {
        width: 32vh; height: 50vh;
    }
    @media (max-width: 992px) {
        width: 60vh; height: 25vh;
    }
}
.review:hover{
    height: 60vh;
    border-radius: 5px;
    box-shadow: var(--my-blue-highlited) 0 0 20px -3px;
    background-color: var(--my-blue);
}
.pfp{
    width: 8vh; height: 8vh;
    border-radius: 100%;
}
.nickname{
    align-content: baseline;
}
.gradient-review{
    transition-duration: 0.5s;
    width: 100%; height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, var(--my-black) 40%,  rgba(255, 0, 0, 0) 90%);
}
.gradient-review:hover{
    opacity: 0;
}
@keyframes GoUpBtnAnimIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes GoUpBtnAnimOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes HandAnim {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes TextAnim {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        letter-spacing: 20px;
    }
    100%{
        opacity: 1;
        letter-spacing: 5px;
    }
}
@keyframes OpacityDown {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes OpacityUp {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}